<configuration>

	<!-- logging configuration for PRODUCTION. Replaces DEVELOPMENT log config when invoked with mvn package -P copy-logconfig -->

	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/.atcloudmanager/acm.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${user.home}/.atcloudmanager/acm-%d{yyyy-MM-dd}.log</fileNamePattern>

			<!-- keep 10 days' worth of history -->
			<maxHistory>10</maxHistory>
		</rollingPolicy>
	</appender>

	<logger name="org.eclipse" level="INFO" />

	<root level="INFO">
		<appender-ref ref="file" />
	</root>
</configuration>